h1,p,h2,h3{
    color: white;
}
h1{
    font-size: 3.1em;
}
h1 , p{
    font-family: Major Mono Display;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }