<div class="container">
  <div>
<a (click)='createRoom()' class="fancy-button bg-gradient1"><span><i class="fa fa-ticket"></i>CREATE room</span></a>
<form class="example-form">
    <mat-form-field>
      <input matInput placeholder="your room name" [(ngModel)]='roomName' name="roomName">
    </mat-form-field>
  </form>
</div>

<div>
<a (click)='openBottomSheet()' class="fancy-button bg-gradient1"><span><i class="fa fa-ticket"></i>join room </span></a>
</div>
</div>


<!-- <div>
  <a (click)='joinQueue()' class="fancy-button bg-gradient1"><span><i class="fa fa-ticket"></i>join queue </span></a>
  </div>

<div class="queue">

<img width="400" src="https://openclipart.org/image/2400px/svg_to_png/206174/Pill-Bottle-1920.png" alt="">

</div> -->